.project-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-details {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50%;
  max-width: 800px;
  overflow: hidden;
  margin: 0 auto;
  padding: 2rem;
}

.project-details-image {
  height: auto;
  margin-bottom: 1rem;
}

.project-details-content {
  color: #333;
}

.project-details h2 {
  margin-top: 0;
  color: #333;
}

.project-details p {
  color: #666;
}

.project-details-technologies {
  margin-top: 0.5rem;
}

.technology {
  display: inline-block;
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 0.3rem 0.6rem;
  margin-right: 0.5rem;
  font-size: 0.875rem;
  color: #333;
}

.project-details-impact {
  margin-top: 1rem;
  color: #666;
}
.project-details-info {
  margin-top: 1rem;
  color: #666;
  text-align: justify;
}

.back-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #0056b3;
}
